/*头部*/
ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
.header{
    width:100%;
    height:76px;
}
.header .nav{
    width:1200px;
    height:100%;
    margin: 0 auto;
    padding: 14px 28px 14px 46px;
    box-sizing:border-box;
}
/*logo*/
.header .nav .logo{
	width:148px;
	height: 48px;
	float: left;
}
.header .nav .logo img{
	width: 100%;
	height: 100%;
}
/*主导航*/
.header .nav .mainnav{
	float: right;
	width:auto;
	height: 100%;
}
.header .nav .mainnav .navcon:after{
	content: '';
	display: block;
	clear: both;
}
.header .nav .mainnav .navcon>li:first-child{
	border:1px solid transparent;;
}
.header .nav .mainnav .navcon>li{
	position: relative;
	text-align: center;
	float: left;
	line-height: 38px;
	margin-right:24px;
	font-size: 18px;
	font-family:'方正清刻本悦宋简体';
	width: 94px;
	height: auto;
	box-sizing:border-box;
	border-left:1px solid transparent;
	border-right:1px solid transparent;
	border-top:1px solid transparent;
	transition:all .5s;
}
.header .nav .mainnav .navcon>li.active{
	border-left-color: #2597CE;
	border-right-color: #2597CE;
	border-top-color: #2597CE;
	background-color: #F5F5F5;
}
.header .nav .mainnav .navcon>li.active:first-child{
	border:1px solid #2597CE;
	background-color: #F5F5F5;
}
.header .nav .mainnav .navcon>li:last-child{
	margin-right: 0;
}
.header .nav .mainnav .navcon>li a{
	color: #333;
}
/*隐藏菜单*/
.header .nav .mainnav .navcon>li .hiddenlist{
	width: 100%;
	height:auto;
	background: #F5F5F5;
	position: absolute;
	left:-1px;
	top:38px;
	overflow: hidden;
	display: none;
	border-left:1px solid #2597CE;
	border-right:1px solid #2597CE;
	border-bottom:1px solid #2597CE;
}
.header .nav .mainnav .navcon>li .hiddenlist>li{
	width: 100%;
	height:38px;
	line-height:38px;
	font-size: 14px;
	position: relative;
}
.header .nav .mainnav .navcon>li .hiddenlist>li a{
	margin-left: 10px;
}
.header .nav .mainnav .navcon>li .hiddenlist>li i{
	display: block;
	width: 9px;
	height: 9px;
	padding: 2px;
	border-radius: 50%;
	background-clip:content-box;
	border:1px solid #2597CE;
	background-color: #2597CE;
	position: absolute;
	top: 0;
	bottom: 0;
	margin:auto 0;
	left: 5px;
}
/*banner*/
.banner{
	width: 100%;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
}
.banner a{
	display: block;
	width: 100%;
	height: 100%;
}
/*footer*/
.footer{
	height: 380px;
	background: #dadada;
	padding: 62px 0 43px 0;
	box-sizing:border-box;
	margin: 0 auto;
	position: relative;
}
.footer .wrap:after{
	content: '';
	display: block;
	clear: both;
}
.footer .wrap{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	padding-left: 60px;
	box-sizing:border-box;
}
/*联系我们*/
.footer .contact{
	width: auto;
	height: 275px;
	border-right: 1px solid #0C0C0C;
	padding-top: 40px;
	padding-right: 62px;
	box-sizing:border-box;
	float: left;
	font-size: 14px;
}
.footer .contact .title-contact{
	width: 110px;
	height: 31px;
	background:url(../../../images/images/bzp/title_lianxig.png);
	margin-bottom: 22px;
}
.footer .contact .address{
	color: #0C0C0C;
	line-height: 12px;
	margin-bottom:20px;
}
.footer .contact i{
	display: inline-block;
	width: 16px;
	height: 15px;
	margin-right: 15px;
}
.footer .contact .address .ch>i{
	background: url(../../../images/images/bzp/pic_dizhi.png);
}
.footer .contact .address .en p{
	text-indent: 2.5em;
	font-size: 12px;

}
.footer .contact .address .en p:nth-child(1){
	margin-top:10px;
	line-height:20px;
}
.footer .contact .tel>i{
	background: url(../../../images/images/bzp/pic_lianxi.png);
}
.footer .contact .email{
	padding-top: 15px;
}
.footer .contact .email>i{
	width: 17px;
	background: url(../../../images/images/bzp/pic_youxiang.png);
}
/*快速通道*/
.footer .kuaisu{
	float: left;
	height: 275px;
	padding: 40px 96px 0 72px;
	box-sizing:border-box;
}
.footer .kuaisu .title-tongdao{
	width: 110px;
	height: 31px;
	background:url(../../../images/images/bzp/title_tongdao.png);
	margin-bottom: 16px;
}
.footer .kuaisu .footernav{
	width:315px;
	height: auto;
	margin-bottom: 30px;
}
.footer .kuaisu .footernav:after{
	content: '';
	display: block;
	clear: both;
}
.footer .kuaisu .footernav li{
	float: left;
	width: 95px;
	height: 28px;
	background:url(../../../images/images/bzp/menu_lianjieg.png);
	margin-right: 10px;
	font-size: 12px;
	line-height: 28px;
	text-align: center;
}
.footer .kuaisu .footernav li:nth-child(3)~li{
	margin-top: 10px;
}
.footer .kuaisu .footernav li a{
	color: #E0E5ED;
}
.footer .kuaisu .search:after{
	content: '';
	display: block;
	clear: both;
}
.footer .kuaisu .title-search{
	width: 110px;
	height: 31px;
	background:url(../../../images/images/bzp/title_kuaisug.png);
	float: left;
}
.footer .kuaisu .search .search-input{
	float: left;
	margin-left: 42px;
	position: relative;
}
.footer .kuaisu .search form input{
	outline: none;
	width: 182px;
	height: 30px;
	border-radius: 20px;
	border:1px solid #135390;
	float: left;
	background: transparent;
	padding-left: 15px;
	box-sizing:border-box;
}
.footer .kuaisu .search .search-input:after{
	content: '';
	display: block;
	width: 12px;
	height: 7px;
	background: url(../../../images/images/bzp/pic_xiag.png);
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	right: 16px;
}
.footer .erweima{
	float: left;
	height: 275px;
	padding-top: 40px;
	box-sizing:border-box;
	cursor: pointer;
}
.footer .erweima img{
	height:175px;
}