{template "content","header"}
	<link rel="stylesheet" href="{CSS_PATH}css/base/normalize.css">
	<link rel="stylesheet" href="{CSS_PATH}css/swiper.min.css">
	<link rel="stylesheet" href="{CSS_PATH}css/sculpture.css">
	<link rel="stylesheet" href="{CSS_PATH}css/bzp/bzp-index.css">
	<link rel="stylesheet" href="{CSS_PATH}css/ml/index.css">


<!-- 园林雕塑 -->
    <section>
    	<div class="ycw-content">
    	<!-- 面包屑 -->
    		<ul class="bread">
    			<li> 
    				<span class="round"></span>
    				<a href="">首页</a>
    			</li>
    			<li>
    				<span class="round"></span>
    				<a href="">园林雕塑</a>
    			</li>

    		</ul>
    	<!-- 园林雕塑标题 -->
    		<div class="title-box">
    			<h3><img src="{IMG_PATH}images/ml/title_ylds.png" alt=""></h3>
    		</div>
    	<!--小亲疙瘩少年泥人 图片 -->
			<!--<ul class="img-box">-->
				<!--<li>-->
					<!--<span></span>-->
						<!--<img src="{IMG_PATH}images/ycw/content_niren.png" alt="">-->
					<!---->
				<!--</li>-->
				<!--<li>-->
					<!--<span></span>-->
						<!--<img src="{IMG_PATH}images/ycw/content_niren.png" alt="">-->
					<!---->
				<!--</li>-->
				<!--<li>-->
					<!--<span></span>-->
						<!--<img src="{IMG_PATH}images/ycw/content_niren.png" alt="">-->
					<!---->
				<!--</li>-->
			<!--</ul>-->
			<!-- 文本内容 -->
               <div class="text">
               	<p>园林雕塑配合园林构图，多数位于室外，题材广泛。园林雕塑通过艺术形象可反映一定的社会时代精神，表现一定的思想内容，既可点缀园景，又可成为园林某一局部甚至全园的构图中心。园林雕塑有悠久的历史。文艺复兴时期，雕塑已成为意大利园林的重要组成部分。园中雕塑或结合园林理水，或装饰台层，甚至建立了以展览雕塑为主的“花园博物馆”、“雕塑公园”。园林雕塑在欧、美各国园林里至今仍占重要地位。
               	</p>
               	<p>
					在园林当中摆放这样一尊园林雕塑是园林设计师的首上之选，园林雕塑有各种风格各种题材，这些园林雕塑作品有较强的叙事性会营造一种故事画面。当然园林雕塑的大小尺寸还要根据它所要摆放的环境来设计，大的恢弘，小的精致。园林雕塑可以把艺术的高雅带到我们的身边。
				</p>

               	<!-- 文本图片 -->
               	<div class="text-img">
               		<img src="{IMG_PATH}images/ml/ylds_01.png" alt="">
               	</div>
				   <p>
					   在园林中设置雕塑，其主题和形象均应与环境相协调，雕塑与所在空间的大小、尺度要有恰当的比例，并需要考虑雕塑本身的朝向、色彩以及与背景的关系，使雕塑与园林环境互为衬托，相得益彰。
				   </p>
				   <p>
					   园林雕塑有悠久的历史。文艺复兴时期，雕塑已成为意大利园林的重要组成部分。园中雕塑或结合园林理水，或装饰台层，甚至建立了以展览雕塑为主的“花园博物馆”、“雕塑公园”。园林雕塑在欧、美各国园林 里至今仍占重要地位。
				   </p>
				   <div class="text-img">
					   <img src="{IMG_PATH}images/ml/ylds_bottom_01.png"alt="">
				   </div>
               </div>
    	</div>
    </section>
    <!-- 亲疙瘩泥人系类 banner-->
    <section>
    	<!-- 亲疙瘩泥人系类标题-->
		<div class="ycw-banner">
	         <div class="title-left">
				<h3>园林雕塑
					<div class="line">
						<span></span>
					</div>
				</h3>
				
				<h2>
					<strong>GARDEN</strong>
					Sculpture
				</h2>
			</div>	
			<!-- 轮播 -->
				<div class="swiper-container box">
				    <div class="swiper-wrapper swiper-no-swiping">
				        <div class="swiper-slide banner-box">
				        	<div class="img-box">
				        		<img src="{IMG_PATH}images/ml/banner_yldu.png" alt="">
				        		<span> 小亲疙瘩少年泥人</span>
				        	</div>
				        	<div class="img-box">
				        		<img src="{IMG_PATH}images/ml/banner_yldu1.png" alt="">
				        		<span> 小亲疙瘩小童子</span>
				        	</div>
				        	<div class="img-box">
				        		<img src="{IMG_PATH}images/ml/banner_yldu2.png" alt="">
				        		<span> 小亲疙瘩光头小子</span>
				        	</div>
				        </div>
						<div class="swiper-slide banner-box">
							<div class="img-box">
								<img src="{IMG_PATH}images/ml/banner_yldu.png" alt="">
								<span> 小亲疙瘩少年泥人</span>
							</div>
							<div class="img-box">
								<img src="{IMG_PATH}images/ml/banner_yldu1.png" alt="">
								<span> 小亲疙瘩小童子</span>
							</div>
							<div class="img-box">
								<img src="{IMG_PATH}images/ml/banner_yldu2.png" alt="">
								<span> 小亲疙瘩光头小子</span>
							</div>
						</div>
						<div class="swiper-slide banner-box">
							<div class="img-box">
								<img src="{IMG_PATH}images/ml/banner_yldu.png" alt="">
								<span> 小亲疙瘩少年泥人</span>
							</div>
							<div class="img-box">
								<img src="{IMG_PATH}images/ml/banner_yldu1.png" alt="">
								<span> 小亲疙瘩小童子</span>
							</div>
							<div class="img-box">
								<img src="{IMG_PATH}images/ml/banner_yldu2.png" alt="">
								<span> 小亲疙瘩光头小子</span>
							</div>
						</div>
				    </div>
				    <!-- 如果需要分页器 -->
				    <div class="swiper-pagination luobo-dian"></div>
				    
				    <!-- 如果需要左右按钮 -->
				    <div class="swiper-button-prev prev"></div>
				    <div class="swiper-button-next next"></div>
				</div>
			

		</div>


    </section>


{template "content","footer"}

    


<script src="{JS_PATH}js/jquery-3.1.1.min.js"></script>
<script src="{JS_PATH}js/swiper.min.js"></script>
<script src="{JS_PATH}js/bzp/bzp-index.js"></script>
</body>
</html>

<script>
	      
  var mySwiper = new Swiper ('.box', {
    // direction: 'vertical',
    loop: true,
    // autoplay:1000,
    loopedSlides:1,
     pagination: '.swiper-pagination',
	  paginationClickable :true,
    // 如果需要前进后退按钮
    mousewheelControl :false,
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev'
    
  })        
 
</script>